.planetParent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.lastDiv {
    flex-basis: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}